/*
 * Scenic View, 
 * Copyright (C) 2012 Jonathan Giles, Ander Ruiz, Amy Fowler 
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.split-pane {
    -fx-background-insets: 0, 1 0 1 0;
    -fx-padding: 0 0 1 0;
}
.split-pane *.split-pane-divider{
    -fx-padding: 0 1 0 0;
    -fx-background-color: transparent, -fx-box-border;
    -fx-background-insets: 0 -3 0 -3, 0;
    -fx-border-color: null;
}
.split-pane *.horizontal-grabber {
    -fx-padding: 0;
    -fx-shape: "";
}

.tree-view {
    -fx-background-insets: 0, 0 0 -1 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: #D2B48C; // Focused color

}

.scanning-label {
    -fx-font-size:12;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.detail-pane #title-label {
    -fx-font: bold 12pt System;
}

.detail-grid {
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0,0,0;
    -fx-padding: 4 6 6 6;
    -fx-hgap: 4;
    -fx-vgap: 1;
}

.titled-pane > .title {
    -fx-background-radius: 0, 0, 0;
    
}
.titled-pane > *.content {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0 0 -1 0;
}

.detail-pane .detail-dummy {
    -fx-font-size: 4;
}

.detail-pane .detail-label {
    -fx-font-weight: bold;
    -fx-text-fill: #0082dd;
}

.detail-pane .updated-detail-label {
    -fx-font-weight: bold;
    -fx-text-fill: #FF0000;
}

.detail-pane .detail-value {
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-size: 11;
}

.detail-pane {
    -fx-text-fill: black;
}

.titled-table-pane {  
	-fx-padding: 10px 0px 0px 0px ;
}

.nested-detail-pane {
	-fx-text-fill: #0082dd;   
	-fx-padding: 6px ;
}

.detail-field {
    -fx-text-fill: black;
    -fx-font-size: 12;
}

.constraints-display {
    -fx-padding: 2 2 2 2;
}

.constraints-display .label.key {
    -fx-text-fill: #0082dd;
}

.gridpane-constraint-display {
    -fx-padding: 2 2 2 2;
    -fx-background-color: #eeeeee;
}

.gridpane-constraint-display .label {
    -fx-text-fill: #0082dd;
}


.search-bar .label {
    -fx-font-weight: bold;
}

#main-statusbar {
    -fx-padding: 3 4 3 4;
    -fx-spacing: 4;
}
#main-statusbar .value-name {
    -fx-font-weight: bold;
}

.animations-table-view .table-cell {
     -fx-alignment: BASELINE_RIGHT;
 }


.tab-pane > .tab-header-area > .tab-header-background {
    -fx-effect: null;
}
/*
 * For Testing
 */

.color {
    -fx-fill: orange;
}
#rect4 {
    -fx-arc-width: 10;
    -fx-arc-height: 10;
}
#First {
    -fx-font: bold 12pt System;
    -fx-background-color: red;
}


