/*
 * Scenic View, 
 * Copyright (C) 2012 Jonathan Giles, Ander Ruiz, Amy Fowler 
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.split-pane {
    -fx-background-insets: 0, 1 0 1 0;
    -fx-padding: 0 0 1 0;
}
.split-pane *.split-pane-divider{
    -fx-padding: 0 1 0 0;
    -fx-background-color: transparent, -fx-box-border;
    -fx-background-insets: 0 -3 0 -3, 0;
    -fx-border-color: null;
}
.split-pane *.horizontal-grabber {
    -fx-padding: 0;
    -fx-shape: "";
}

